{
  "extends": ["airbnb", "prettier", "prettier/react"],
  "rules": {
    "react/style-prop-object": [
      "error",
      {
        "allow": ["StatusBar"]
      }
    ],
    "react/prop-types": "off",
    "no-use-before-define": "off",
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js", ".jsx"]
      }
    ],
    "prettier/prettier": [
      "error",
      {
        "bracketSpacing": true,
        "jsxBracketSameLine": true,
        "singleQuote": true,
        "trailingComma": "all",
        "semi": true,
        "arrowParens": "avoid"
      }
    ]
  },
  "plugins": ["prettier"]
}
